<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Social Eye</title>


    {% load staticfiles %}

        <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static "js/jquery.easing.min.js" %}"></script>
    <script src="{% static "js/jquery.fittext.js" %}"></script>
    <script src="{% static "js/wow.min.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "js/creative.js" %}"></script>

{% load bootstrap3 %}
{% load i18n %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static "css/animate.min.css" %}" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "css/creative.css" %}" type="text/css">

    <link rel="shortcut icon" href="../static/img/eye.png" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    {% include "navbar.html" %}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 style='font-size: 35px'>Extender la navegación web nunca fue tan fácil</h1>
                <hr>
                <p>Social Eye te permite crear extensiones de navegador a tu medida en unas pocas líneas. <br>
                    Exprime tu navegación con este potente Framework de aumentación web basado en Javascript</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Comenzá ahora</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Navegá a tu estilo!</h2>
                    <hr class="light">
                    <h3> Usá tu imaginación para crear widgets!</h3> 
                    <p class="text-faded">Social Eye fue pensado como un Framework Client-Side que permite crear complementos de navegador asociados a la aplicación. A su vez, la herramienta posee dos enfoques: la aumentación web y la interacción entre los usuarios.
                    Básate en estos conceptos para desarrollar invenciones increíbles tanto para tí como para los demás usuarios!</p>
                    <a href="#services" class="btn btn-default btn-xl">Creá un widget!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Construí tu widget</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <h3>Formulá una idea</h3>
                        <p class="text-muted">Pensá en una necesidad para la web. El punto de partida es la innovación!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Descubre la API</h3>
                        <p class="text-muted">Conocé los detalles de la herramienta para poder enfocarte en conseguir tu objetivo.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-code wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Tiempo de crear</h3>
                        <p class="text-muted">Experimenta tú mismo lo sencillo que puede ser crear un Widget de navegador con Social Eye!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Comparte tu innovación!</h3>
                        <p class="text-muted">Envíanos tu idea desarrollada para que todos los usuarios de la Web puedan utilizarla y hablar de ella!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Descargá gratis Social Eye!</h2>
                <a href="#" class="btn btn-default btn-xl wow tada" style = "width: 17%; margin-right: 10px; padding: 15px;">Api para comenzar!</a>
                <a href="#" class="btn btn-default btn-xl wow tada" style = "width: 17%; padding: 15px;">Documentación</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Dános feedback!</h2>
                    <hr class="primary">
                    <p>El equipo de Social Eye está a tu disposición para cualquier consulta que desees hacernos. Escríbenos y te
                    contestaremos lo más rápido posible! </p>
                </div>
                <div class="col-lg-4 text-center" style= 'position: relative; left: 33%;'>
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@socialEye.com</a></p>
                </div>
            </div>
        </div>
    </section>

</body>

</html>
