  <div class='detailBox socialEye <%= idWidget %>'>
    <div class='titleBox socialEye'>
      <label class='socialEye'><%= title %></label>
      <button class='botonCerrar socialEye cerrar<%= idWidget %>' aria-hidden='true'>&times;</button>
    </div>
    <div id='<%= idWidget %>principalGenerales' class='actionBox socialEye principal<%= idWidget %>'>
      <ul id='<%= idWidget %>listaComentariosGenerales' class='commentList socialEye list<%= idWidget %>'>
        <% _.each(items, function(item) { %>
          <li class='socialEye'>
            <div class='socialEye commentText'>
              <span class='socialEye sub-text'>
                <%= item.username %> dijo el <%= item.date %>
              </span>
              <p class='socialEye'>
                <%= item.element.texto %>
              </p>
            </div>
          </li>
          <% }); %>
      </ul>
      <form class='socialEye form<%= idWidget %>'>
        <textarea class='form-control socialEye textArea<%= idWidget %>' type='text' id='<%= idWidget %>textoComentarioGeneral' placeholder='Escriba su comentario...'/>
        <button class='submitButton socialEye button<%= idWidget %>' id='<%= idWidget %>agregarComentarioGeneral'>
          Agregar
        </button>
      </form>
    </div>
  </div>
