    <div id='principalGenerales' class='actionBox'>
      <ul id='listaComentariosGenerales' class='commentList'>
        <% _.each(items, function(item) { %>
          <li>
            <div class='commentText'>
              <span class='sub-text'>
                <%= item.username %> dijo el <%= item.date %>
              </span>
              <p>
                <%= item.element.texto %>
              </p>
            </div>
          </li>
          <% }); %>
      </ul>
      <form>
        <textarea class='form-control' type='text' id='textoComentarioGeneral' placeholder='Escriba su comentario...'/>
        <button class='submitButton' id='agregarComentarioGeneral'>
          Agregar
        </button>
      </form>
    </div>
