.boxUsuarios{
            z-index: 9999999999999;
            width:350px;
            position: fixed;
            margin: 0 auto;
            top: 0;
            left: 60%;
            border:1px solid #bbb;
            margin:50px;
            background-color:#fdfdfd;
}

.usuarioChat,.usuarioCall{
    cursor: hand;
}

.usuarioChat{
    color:white !important;
    width: 100%;
    text-align: left !important;
}

.callBox{
    z-index: 99999999999999;
    height: 100%;
    width: 50%;
}

.contenidoComentario{
    padding-left: 20px;
}

.videoCall{
    position: relative;
    float:right;
    margin-right: 5%;
    margin-top: 5%;
    width: 200px;
    display: none;
    bottom:50px;
}

.conversacionBox{
    float: left;
    width: 90%;
}

.chatBox{
    height: 330px;
}

.textoComentarioChat{
    height: 60px;
}

.nuevoMensaje{
    display: none;
    color: #FF9933;
    font-size: 80%;
    margin-left: 50%;
}

.userLabel, .nuevoMensaje{
    pointer-events: none;
}

.divIconoLlamada{
    position: absolute;
    left: 355px;
    bottom: 12%;
}

.videos{
    display: block;
    height: 100%;
    width: 100%;
}

.labelConnecting{
    display: none;
}

.userIcon{
    pointer-events: none;
}

.chatBody{
    float:left;
    width: 360px;
}

span{
    padding-left: 0px !important;
    margin-left: 0px !important;
}

.commentTextP{
    padding: 0 !important;
    margin-left: 5px !important;
}