.socialEyeContainer{
    background-color: #eee;
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    margin:50px;
}


.socialEyeForm-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.socialEyeForm-signin, .socialEyeForm-signin-heading,
.socialEyeForm-signin, .checkbox {
  margin-bottom: 10px;
}
.socialEyeForm-signin, .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.socialEyeForm-signin, .form-control:focus {
  z-index: 2;
}
.socialEyeForm-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.socialEyeForm-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}